<headwrapper>
  <div class="container">
    <div class="row">
      <div class="col-5 masthead">
        <div class="logo">S. Golden</div>
        <div class="logo-subtitle">Design</div>
      </div>
      <div class="col-7 masthead">
        <nav class="nav nav-masthead app-nav">
          <%= nav_helper 'nav_link', 'span'%>
        </nav>
      </div>
    </div>
  </div>
</headwrapper>
