<headwrapper>
  <header>
    <div class="inner">
      <div class="logo">S. Golden</div>
      <div class="logo-subtitle">Design</div>
      <nav class="nav nav-masthead justify-content-center app-nav">
        <%= nav_helper 'nav_link', 'span'%>
      </nav>
    </div>
  </header>
</headwrapper>
