<div class="container">
  <div class="row">
    <div class="col-12">
      <%= image_tag "about-image.png", height:450, alt:"Couch"%>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-7 white-space">
      <p class= small-copy-about>Stephanie Golden Pinney is the founder of and principal designer at S.Golden Design. Stephaine has worked on over 50 residential interior projects with clients, locally, nationally, and internationally and has studied interior design at the New York Institute of Art & Design.

Through getting to know people – their interests and passions, their desires and needs – Stephanie uncovers and helps shape a vision for residential interior spaces.  She melds varied styles and personalities to exude warm elegance or exhibit refreshing simplicity. From a chic flat in Malta or Medellin to an elegant library design or a new home in Chattanooga, Tennessee, Stephanie strives to create beautiful, functional spaces that rouse life and cultivate purpose. “That is what moves me.”</p>
    </div>
    <div class="col-4"></div>
  </div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-7">
    <hr>
  </div>
  <div class="col-4"></div>
</div>
<div class="row">
  <div class="col-8">
    <h5 class="quote-title">What others are saying</h5>
  </div>
  <div class="col-4"></div>
</div>
<div class="row">
  <div class="col-8 white-space-about">
    <p class="quote-copy">“Oh wow. It feels like you went right inside my head and put together exactly my taste. There is not a single thing in here that I want to replace. Everything is totally me!”</p>
  </div>
  <div class="col-4"></div>
</div>
<div class="row">
  <div class="col-7">
    <p class="quote-attribute">-  J. in Manhattan</p>
  </div>
  <div class="col-5"></div>
</div>
<div class="row">
  <div class="col-8 white-space-about">
    <p class="quote-copy">
      “Stephanie has an incredibly effective eye for design, color and materials selection. Her work resulted in a beautiful and functional environment. Her extraordinary emotional and relational intelligence was important in overcoming the challenging cross-cultural interactions.”
    </p>
  </div>
  <div class="col-4"></div>
</div>
<div class="row">
  <div class="col-7">
    <p class="quote-attribute">- J. in Medellin</p>
  </div>
  <div class="col-5"></div>
</div>
<div class="row">
  <div class="col-8 white-space-about">
    <p class="quote-copy">
       “I love these [designs]!!!! I feel good just looking at them… I just want to let you know how grateful I am to be able to view these beautiful ideas. Thank you so, so much.”
    </p>
  </div>
  <div class="col-4"></div>
</div>
<div class="row">
  <div class="col-7">
    <p class="quote-attribute">-  A. in New England</p>
  </div>
    <div class="col-5"></div>
</div>
<div class="row">
  <div class="col-8 white-space-about">
    <p class="quote-copy">
      “Stephanie, you really created a great look! Thank you for taking the feedback and pulling in the things we liked (and need!).”
    </p>
  </div>
  <div class="col-4"></div>
</div>
<div class="row">
  <div class="col-7">
    <p class="quote-attribute">-  S. in Arizona</p>
  </div>
  <div class="col-5"></div>
</div>
<div class="row">
  <div class="col-8 white-space-about">
    <p class="quote-copy">
      "First of all, WOW. There are a lot of wonderful ideas here and I am amazed by how well you've captured elements of my style in each [design].”
    </p>
  </div>
  <div class="col-4"></div>
</div>
<div class="row">
  <div class="col-7">
    <p class="quote-attribute">-  K. in  U.S.</p>
  </div>
  <div class="col-5"></div>
</div>
<div class="row">
  <div class="col-8 white-space-about">
    <p class="quote-copy">
      “This has been a great experience so far. I'd like to continue working with you on the rest of the rooms in the house (a total of 5-8 rooms)”
    </p>
  </div>
  <div class="col-4"></div>
</div>
<div class="row">
  <div class="col-7">
    <p class="quote-attribute">- D. in Montana</p>
  </div>
  <div class="col-5"></div>
</div>
<div class="row">
  <div class="col-8 white-space-about">
    <p class="quote-copy">
      [Stephanie’s place] is “urban chic” – “gorgeous” – “stylish” – “luxurious” – “impeccably decorated” – “with great design elements”.
    </p>
  </div>
  <div class="col-4"></div>
</div>
<div class="row">
  <div class="col-7">
    <p class="quote-attribute">- Airbnb Project, Guest Comments</p>
  </div>
  <div class="col-5"></div>
</div>

</div>
