<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= image_tag "C1.jpg", height:300, alt:"Couch"%>
    </div>
    <div class="col-md-6 spacer">
      <div class="bottom">
        <em><h3 class="main-copy">LET'S CHAT AND SCHEDULE A CONSULTATION TODAY</h3></em>
        <p class="small-copy">
STEPHANIE GOLDEN PINNEY
<em>email.     </em> StephanieGoldenPinney@gmail.com
<em>phone.     </em>(865) 384 5345
        </p>
      </div>
    </div>
    <div class="col-md-4 map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3266.8053293051503!2d-85.30832008467155!3d35.036599680349674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88605e788175baff%3A0x2eca694d8719d614!2s24%20Station%20St%2C%20Chattanooga%2C%20TN%2037408!5e0!3m2!1sen!2sus!4v1600031357754!5m2!1sen!2sus" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
  </div>
  <div class="row map">
    <div class="col-md-12">

    </div>
  </div>
</div>
