<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 align">
      <h3 class="title-copy">Design Services</h3>
      <p class="small-copy">S. Golden Design offers a wide range of residential interior decorating and design services. Whether you’re looking to simply refresh a room or fully redecorate and re-design your home’s interior, we can help. Check out our design offerings to see what fits your needs, and remember, you can always choose add-on services to a design package. Custom design offerings are also available. </p>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row white-space">
    <div class="col-4">
      <%= image_tag "d1.jpg", height:375, alt:"Design board"%>
    </div>
    <div class="col-8">
        <h3 class="title-copy">Design from a Distance</h3>
        <p class="small-copy">This is the do-it-yourself decorating service (or E-Design, as some call it). In essence, we design your room’s theme and layout then give you a shopping list and total cost of all the furnishings, decor, and textiles that make your room one-of-a-kind. After that, you buy the items on your shopping list at your own speed. This service limits the merchandise choices to online retailers.

This package includes a virtual consultation, concept boards, final digital design board, floorpan with furniture layout, styling notes, and shopping list.

*Add-On Services available</p>

    </div>
  </div>
  <div class="row white-space">
    <div class="col-4">
      <%= image_tag "d2.jpg", height:375, alt:"Design board"%>
    </div>
    <div class="col-8">
        <h3 class="title-copy">Finishes Design</h3>
        <p class="small-copy">This design service is for you if you need help narrowing down and choosing your home finishes. The countless options can be overwhelming! That’s where we come in and simplify the process. Finishes are items such as flooring, surfaces (countertops etc.), cabinetry, hardware, etc.

This package includes consultation, concept boards, finish design board and finish schedule.

*Some Add-On Services available</p>
    </div>
  </div>
  <div class="row white-space">
    <div class="col-4">
      <%= image_tag "d3.jpg", width:355, height:375, alt:"Design board"%>
    </div>
    <div class="col-8">
        <h3 class="title-copy">Full-Service Design</h3>
        <p class="small-copy">This is where we get into the nitty-gritty of your home project and see it through to the end—“home makeover” style. We coordinate with contractors and/or architects on small home projects, full or partial renovations, or new builds in order to fully realize your dream home (or room).

This package includes consultation, concept boards, a final design board and floorpan with furniture layout, project plan (including but not limited to: finish schedule, paint schedule, lighting schedule, fee schedule) and purchasing, installation, and styling of items in your home.

*Outside of Chattanooga, TN, this service is limited to particular cities plus travel costs.

*Some Add-On Services available</p>
    </div>
  </div>
  <div class="row white-space">
    <div class="col-4">
      <%= image_tag "d4.jpg", width: 355, height:375, alt:"Design board"%>
    </div>
    <div class="col-8">
        <h3 class="title-copy">Add-On Services</h3>
        <p class="small-copy">*3-D Renderings
*Additional Revisions of Final Design

    Beyond the 2 included revisions

*Purchasing

    This expands your merchandise options to retailers, wholesalers, showrooms and to-the-trade only vendors

*Installation & Styling

    Limited to Chattanooga and surrounding areas</p>
    </div>
  </div>
  <div class="row"></div>
</div>
